@model IEnumerable<Project.Models.Chef>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrChefName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FltSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrChefName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FltSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntChefId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntChefId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntChefId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
