@model IEnumerable<Project.Models.Provider>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IntIngredientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntSupplierId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IntIngredientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntSupplierId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntProviderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntProviderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntProviderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
