@model IEnumerable<Project.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrCustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntWaiterId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrCustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntWaiterId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntCustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntCustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntCustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
